<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9605125124-hfcg2n6chfabnikquqf90k0o9042pgvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960751263464-hfcg2n6chfabnikquqf90k0o9042pgvc</string>
	<key>API_KEY</key>
	<string>AIzaSyC7zqQEgasdaDsahPx26S1x0aEHVy3jityg</string>
	<key>GCM_SENDER_ID</key>
	<string>960751263464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.kode.anyapp</string>
	<key>PROJECT_ID</key>
	<string>anyapp-81e63</string>
	<key>STORAGE_BUCKET</key>
	<string>anyapp-81e63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:960751263464:ios:3369ad3c42115c96d8335d</string>
</dict>
</plist>
